.App {
  	margin: 0 auto
}

nav {
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
	height: 70px;
}

nav img {
	margin: 20px 30px;
}

.hero {
	display: flex;
	justify-content: center;
    flex-direction: column;
	margin: 0 36px
}
.hero img {
	margin: 26px;
}

.hero h1 {
	font-family: 'Poppins';
	font-size: 36px;
	margin: 0 0 16px 0;
}

.hero p {
	font-family: 'Poppins';
	font-size: 16px;
	margin: 0;
}